@import "tailwindcss";

@theme {
  --color-neon-blue: #00f3ff;
  --color-neon-purple: #bc13fe;
  --font-family-sans: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a; /* Slate 900 */
  color: #f8fafc; /* Slate 50 */
  font-family: 'Inter', sans-serif;
}
